header{
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 100%;
    color: white;
    z-index: 10;
}

.rowFirst{
    display: flex;
    background-color: #F4F4F4;
    height: 52px;
    scroll-behavior: smooth;
    color: black;
    align-items: center;
    justify-content: center;

}

.rowSecond{
    z-index: 10;
    color: white;
}

.header-container{
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 0 32px; 
}

.navCenter{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.navCenter ul{
    display: flex;
}

.navCenter ul ol{
    cursor: pointer;
}

.navLeft svg{
    width: 120px;
    height: 24px;
    cursor: pointer;
}
.rightNav{
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}
.rightNav svg{
    margin-right: 10px;
}

.bannerImage{
    position: relative;
    height: 100vh;
}
.imageBackground{
    object-fit: cover;
}
main{
    flex-grow: 1;
    min-height: 100vh;
    background-color: pink;
}
footer{
    background-color: blue;
}